/* Bundling/minification docs: https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification */

a.navbar-brand {
    white-space: nowrap;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
