
############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Build output
############################
bin/
obj/
out/

############################
# ASP.NET Core
############################
appsettings.Development.json
secrets.json

############################
# wwwroot (optional libs)
############################
wwwroot/lib/

############################
# Logs
############################
*.log

############################
# IDEs
############################
.vscode/
.idea/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# NuGet packages (optional)
############################
*.nupkg

############################
# User-specific project files
############################
*.csproj.user
.env