
# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
out/

# ASP.NET Core
wwwroot/lib/
appsettings.Development.json

# Logs
*.log

# User secrets
secrets.json

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# NuGet packages (optional if not restoring automatically)
*.nupkg
