@{
    ViewData["Title"] = "Its All About Funny Jokes";
}

<div class="text-center">
    <h1 class="display-4">Jokes App</h1>
    <p>For good humor that's not found anywhere else. Join us and add your own jokes!</p>
</div>
